/* Thêm một lớp cho các nút button */
.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Hiệu ứng hover và khi được nhấn */
.button:hover,
.button:active {
  background-color: #0056b3;
  transform: scale(1.05) perspective(1px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Hiệu ứng khi nút được chọn */
.button.active {
  background-color: #282c34;
  /* Màu nền mới khi nút đang được chọn */
}

/* ... (các luật CSS khác) */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}